body {
    background-color: wheat;
}
#theme {
    background-color: burlywood;
    height: 70px;
    text-shadow: 3px 3px 5px gray;
}
#gambar {
    background-image: url(/assets/image/masjid-nabawi.jpg);
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 20%;
    width: 100%;
    height: 50vw;
}
#main-title {
    color: seashell;
    text-shadow: 3px 3px 5px gray;
}
#about {
    padding-top: 2vw;
    background-color: wheat;

}
#about-title {
    text-shadow: 3px 3px 5px gray;
}
#about-content {
    text-align: justify;
    padding-top: 3%;
    text-shadow: 3px 3px 5px gray;
}
#masjid-pict {
    padding-top: 2%;
}
#rec-content {
    padding-top: 10vw;
}
#rec-content-mid {
    padding-top: 10vw;
    padding-bottom: 10vw;
    text-shadow: 3px 3px 5px gray;
    height: 100%;
}
#rec-title {
    text-shadow: 3px 3px 5px gray;
}
#maps {
    padding-top: 10vw;
    padding-bottom: 20vw;
    height: 50%;
}
#maps-content {
    width: 100%;
    height: 50%;
    padding-top: 5vw;
    text-shadow: 3px 3px 5px gray;
}
#maps-title {
    padding-bottom: 5vw;
    text-shadow: 3px 3px 5px gray;
}
#maps-frame {
    padding-bottom: 5vw;
}
#note-maps {
    text-shadow: 3px 3px 5px gray;
}
#galeri {
    background-color: wheat;
}
#galeri-title {
    text-shadow: 3px 3px 5px gray;
}
#picture {
    padding-top: 5%;
}
#slideshow {
    position: relative;
}
#structure {
    padding-top: 10%;
    background-color: wheat;
}
#structure-title {
    text-shadow: 3px 3px 5px gray;
}
#structure-list {
    width: 50%;
    margin-left: 25%;
    padding-top: 5%;
    padding-bottom: 10%;
    text-shadow: 3px 3px 5px gray;
}
#list-one {
    background-color: wheat;
}
#list-two {
    background-color: wheat;
}
#list-three {
    background-color: wheat;
}
#list-four {
    background-color: wheat;
}
#list-five {
    background-color: wheat;
}
#list-six {
    background-color: wheat;
}
#title-album {
    padding-top: 5vw;
    padding-bottom: 5vw;
    text-shadow: 3px 3px 5px gray;
}
#card-one {
    padding-bottom: 3vw;
    background-color: wheat;
}
#card-two {
    padding-bottom: 3vw;
    background-color: wheat;
}
#card-three {
    padding-bottom: 3vw;
    background-color: wheat;
}
#card-footer {
    background-color: wheat;
}
#card-item {
    background-color: wheat;
}
#footer {
    padding-top: 1vw;
}
#theme-footer {
    background-color: burlywood;
}

